<div class="col-md-6">
  <h1 class="text-center">Nuevo Libro</h1>
<form>
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" [(ngModel)]="book.name" placeholder="Nombre" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="author">Autor:</label>
    <input [(ngModel)]="book.author" placeholder="Autor" name="author" class="form-control" id="author">
  </div>

  <div class="form-group">
    <label for="pages">Paginas:</label>
    <input type="number" [(ngModel)]="book.pages" placeholder="Paginas" name="pages" class="form-control" id="pages">
  </div>

  <div class="form-group">
    <label for="editorial">Editorial:</label>
    <input [(ngModel)]="book.editorial" placeholder="Editorial" name="editorial" class="form-control" id="editorial">
  </div>

  <button class="btn btn-success" (click)="createBook()">Create</button>
</form>
</div>
