<div class="col-md-6">
  <h2> Book Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Libro</th>
      <th>Autor</th>
      <th>Paginas</th>
      <th>Editorial</th>
      <th>Editar</th>
      <th>Eliminar</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td class="hidden">{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.editorial}}</td>
      <td><a [routerLink]="['/edit', book.id]"><button class="btn btn-info"> Edit </button></a></td>
      <td><button class="btn btn-danger" (click)="deleteBook(book)"> Delete </button></td>
    </tr>
    </tbody>
  </table>
</div>

