<div class="col-md-6">
  <h1 class="text-center">Editar Libro</h1>

<form>
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input [(ngModel)]="book.name" value="{{book.name}}" name="name" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="author">Autor:</label>
    <input [(ngModel)]="book.author" value="{{book.author}}" name="author"  class="form-control" id="author">
  </div>

  <div class="form-group">
    <label for="pages">Paginas:</label>
    <input type="number" [(ngModel)]="book.pages" value="{{book.pages}}"  name="pages"  class="form-control" id="pages">
  </div>

  <div class="form-group">
    <label for="editorial">Editorial:</label>
    <input [(ngModel)]="book.editorial" value="{{book.editorial}}"   name="editorial" class="form-control" id="editorial">
  </div>

  <button class="btn btn-success" (click)="editBook()">Update</button>
</form>
</div>
