<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Libros !
    </h1>
  </div>

  <a routerLink="/books"> List Books</a>
  <a style="margin-left:10px" routerLink="/add">Add Book</a>
  <br/>
  <router-outlet></router-outlet>
</div>


